*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

.footer{
  padding:80px 8%;
  background:#fff;
}

/* Newsletter */
.newsletter{
  border-radius:30px;
  padding:50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:80px;
}

.newsletter-title{
  display:flex;
  color:#484848;
  align-items:center;
  gap:10px;
  font-size:15px;
  font-weight:450;
  margin-bottom:20px;
}

.newsletter-title i{
  color:#9aa3a0;
  font-size:18px;
}

.newsletter-form{
  display:flex;
  gap:12px;
}

.newsletter-form input{
  width:220px;
  padding:14px 16px;
  border-radius:10px;
  border:1px solid #ccc;
  font-size:14px;
}

.newsletter-form button{
  width:46px;
  height:46px;
  border-radius:10px;
  background:#3b5d50;
  border:none;
  color:#fff;
  font-size:15px;
  cursor:pointer;
}

.newsletter-right img{
  width:260px;
}

/* Footer content */
.footer-content{
  display:flex;
  justify-content:space-between;
  gap:60px;
  flex-wrap:wrap;
}

.footer-brand{
  max-width:320px;
}

.footer-brand h2{
  font-size:28px;
  margin-bottom:15px;
  color:#3b5d50;
}

.footer-brand p{
  font-size:14px;
  color:#555;
  line-height:1.7;
}

.socials{
  display:flex;
  gap:12px;
  margin-top:22px;
}

.socials a{
  width:40px;
  height:40px;
  background:#eaf1ee;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#3b5d50;
  font-size:14px;
  text-decoration: none;
}
.socials a:hover{
   background-color:#3b5d50;
   color: white; 
}

/* Links */
.footer-links{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:40px;
}

.footer-links ul{
  list-style:none;
}

.footer-links li{
  font-size:14px;
  margin-bottom:12px;
  color:#222;
}

/* Bottom */
.footer-bottom{
  margin-top:60px;
  padding-top:25px;
  border-top:1px solid #ddd;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  font-size:13px;
  color:#555;
}

.bottom-links a{
  margin-left:20px;
  text-decoration:none;
  color:#333;
}

/* Responsive */
@media(max-width:900px){
  .newsletter{
    flex-direction:column;
    text-align:center;
    gap:30px;
  }

  .newsletter-form{
    flex-wrap:wrap;
    justify-content:center;
  }

  .footer-links{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:500px){
  .footer-links{
    grid-template-columns:1fr;
  }
}
