@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f2f1;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.testomonial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin-inline: auto;
}

.testomonial-content h1 {
    font-size: 1.4rem;
    font-weight: 550;
    line-height: normal;
    color: #2f2f2f;
}

.testomonial-content p {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.8;
    color: #6a6a6a;
}

.person-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .2rem;
    margin-top: 1.8rem;
}

.person-1 img {
    max-width: 25%;
    border-radius: 50%;
}

.person-1 h4 {
    font-size: .76rem;
    font-weight: 800;
    line-height: normal;
    color: #2f2f2f;
    text-align: center;
    margin-top: 1.1rem;
}

.person-1 p {
    font-size: .66rem;
    font-weight: 450;
    line-height: 1.8;
    color: #6a6a6a;
    text-align: center;
}

.testimonial-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 30px;
    gap: 10px;
    /* position: relative; */
}

.testimonial-dots li {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #d6d6d6;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.testimonial-dots li.active {
    background-color: #3b5d50;
}


.testimonial-dots li:hover {
    background-color: #3b5d50;
    opacity: 0.6;
}

.chevron {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 9rem;
    transform: translateY(-50%);
    pointer-events: none;
    margin-inline: 3.9rem;
    margin-top: 1rem;

}

.chevron i {
    display: flex;
    justify-content: center;
    background-color: #bfbfbf;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    width: 4%;
    height: 40px;
    transition: all 0.4s ease;
    color: #2f2f2f;
}



.chevron i:hover {
    color: white;
    background-color: #3b5d50;
}



@media (max-width: 768px) {
    .testomonial-content h1 {
        font-size: 1.2rem;
    }

    .testomonial-content p {
        font-size: 0.85rem;
        line-height: 1.6;
    }

    .person-1 img {
        max-width: 60px;
    }

    .chevron i {
        display: none;
    }
}