@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f2f1;
    width: 1110px;
    margin: 0 auto;
}

.services {

    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.7rem;
    font-family: "Inter", sans-serif;
}

.grid-images .img-1 {
    width: 60%;
    position: relative;
    left: 2.3rem;
    border-radius: 1.5rem;
}

.grid-images .img-3 {
    /* width:332.36px; */
    height: 398.56px;
    width: 25%;
    position: absolute;
    top: 240px;
    left: 300px;
    border-radius: 1.5rem;

}

.grid-images .img-2 {
    position: relative;
    top: -54%;
    left: 10%;
    /* bottom: 50%; */
    width: 32%;
    border-radius: 1.2rem;
}

/* .grid-images{
    grid-column: 1 / span ;
} */
.dot-grid {
    width: 180px;
    height: 180px;
    background-image: radial-gradient(#4a7c59 3px, transparent 2px);
    background-size: 20px 20px;
    position: absolute;
    top: 1px;
    left: 30px;
    z-index: -1;
}

.content-area {
    grid-column: 3 / span;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: self-start;
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1.05rem;
}

.top-content h2 {
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.6;
    color: #2f2f2f;
}

.content-area p {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2.1;
    color: #6a6a6a;
}

.features-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.features-list li {
    position: relative;
    padding-left: 25px;
    font-size: .7rem;
    color: #555;
}


.features-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 10px;
    height: 10px;
    border: 1.5px solid #4a7c59;
    border-radius: 50%;
}

.explore-btn {
    background-color: black;
    border: 1px solid black;
    border-radius: 1.7rem;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

.explore-btn:hover {
    background-color: #2f2f2f;
    color: #dcdbdb;
}


.profiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 16rem;
    padding: 2rem;
}

.profile img {
    max-width: 23%;
    height: auto;
}

.profile {
    display: flex;
    justify-self: unset;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: self-start;
    gap: .5rem;
}

.content h5 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2f2f2f;
}

.content p {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.1;
    color: #6a6a6a;
}

.content button {
    border: none;
    cursor: pointer;
}

.content button:hover {
    color: #504f4f;
}




/* responsiveness */
@media (max-width :768px) {
    .services {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3rem 2rem;
        max-width: 900px;

    }

    .grid-images .img-1 {
        width: 40%;
        left: .3rem;
        border-radius: 1.5rem;
    }

    .grid-images .img-3 {
        position: relative;
        left: -37%;
        width: 35%;
        top: 200px;
        border-radius: 1.5rem;

    }

    .grid-images .img-2 {
        position: relative;
        left: 10px;
        width: 22%;
        border-radius: 1.2rem;
    }

    .content-area {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 9.9rem;
    }

    .top-content h2 {
        font-size: 1.9rem;
        font-weight: 700;
        line-height: 1.2;
        color: #2f2f2f;
        align-items: center;
    }

    .content-area p {
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.8;
        color: #6a6a6a;
    }

    .features-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px 15px;
        list-style: none;
        padding: 0;
        margin-bottom: 30px;
        margin-top: 1rem;
    }

    .features-list li {
        position: relative;
        padding-left: 25px;
        font-size: .7rem;
        color: #555;
    }


    .features-list li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        width: 10px;
        height: 10px;
        border: 1.5px solid #4a7c59;
        border-radius: 50%;
    }

    .explore-btn {
        background-color: black;
        border: 1px solid black;
        border-radius: 1.7rem;
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 1rem;
        cursor: pointer;
    }

    .explore-btn:hover {
        background-color: #2f2f2f;
        color: #dcdbdb;
    }

    .profiles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

}

/* mobile-responsive */
@media (min-width:250px) and (max-width:500px) {
    .services {
        display: grid;
        grid-template-columns: 1fr;
        margin: 3rem 2rem;
    }

    .grid-images .img-1 {
        width: 30%;
        left: .1rem;
        border-radius: 1.5rem;
    }

    .grid-images .img-3 {
        position: relative;
        left: -24%;
        width: 25%;
        top: 200px;
        border-radius: 1.5rem;

    }

    .grid-images .img-2 {
        position: relative;
        left: 10px;
        width: 12%;
        border-radius: 1rem;
    }

    .content-area {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 9.9rem;
    }

    .top-content h2 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2;
        color: #2f2f2f;
        align-items: center;
    }

    .content-area p {
        font-size: 0.7rem;
        font-weight: 400;
        line-height: 1.8;
        color: #6a6a6a;
    }

    .features-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 10px;
        list-style: none;
        padding: 0;
        margin-bottom: 30px;
        margin-top: 1rem;
    }

    .features-list li {
        position: relative;
        padding-left: 25px;
        font-size: .5rem;
        color: #555;
    }


    .features-list li::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1px;
        width: 10px;
        height: 10px;
        border: 2.5px solid #4a7c59;
        border-radius: 50%;
    }


    .profiles {
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }
}